[submodule "src/external/modern_fftpack"]
	path = src/external/modern_fftpack
	url = https://github.com/jlokimlin/modern_fftpack.git
[submodule "src/external/lapack"]
	path = src/external/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
